*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section, header, footer{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.fp-f-weig-700{
  font-weight: 700;
}

.fp-pad-20{
  padding: 20px 0;
}

.fp-pad-30{
  padding: 30px 0;
}

.fp-pad-60{
  padding: 60px 0;
}

.fp-h-50{
  height: 50px;
}

.fp-h-300{
  height: 300px;
}

.fp-h-500{
  height: 500px;
}

.fp-h-150{
  height: 150px;
}

.fp-back-whi{
  background-color: #FFFFFF;
}

.fp-back-blue{
  background-color: #031C4E;
}

.fp-back-grey{
  background-color: #F3F5F9;
}

.fp-ma-bot{
  margin-bottom: 20px;
}

.fp-wrapper-50{
  width: 50%;
  margin: 0 auto;
}

.fp-wrapper-70{
  width: 70%;
  margin: 0 auto;
}

.back-blue-grad{
  background-image: linear-gradient(#0046C5, #001E99);
}

ul{
  list-style: none;
}

.fp-m-left-15{
  margin-left: 15px;
}

.fp-m-right-15{
  margin-right: 15px;
}
/* COLORI TESTO */
.fp-text-white{
  color: #FFFFFF;
}

.fp-text-blue{
  color: #006AFF;
}

.fp-text-black-blue{
  color: #102756;
}

.fp-text-grey{
  color: #77829D;
}
/* /COLORI TESTO */
/* FONT SIZE */
.fp-font-s-450{
  font-size: 450%;
}

.fp-font-s-160{
  font-size: 160%;
}

.fp-font-s-162{
  font-size: 162%;
}

.fp-font-s-220{
  font-size: 220%;
}

.fp-font-s-260{
  font-size: 260%;
}

.fp-title-sec-size{
  font-size: 250%;
}
/*/ FONT SIZE */
/* BOTTONI */
.fp-btn{
  border: 1px solid;
  padding:5px ;
  border-radius: 5px;
}

.fp-btn-wb{
  border-color:#1274FF ;
}
/* /BOTTONI */

.fp-upper{
  text-transform: uppercase;
}

.fp-bold{
  font-weight: bold;
}

.fp-b-radio{
  border-radius: 5px;
}

.fp-m-bottom-80{
  margin-bottom: 80px;
}

.fp-m-bottom-50{
  margin-bottom: 50px;
}

.fp-m-bottom-40{
  margin-bottom: 40px;
}

.fp-m-bottom-30{
  margin-bottom: 30px;
}
/* BARRA FISSATA */
.nav-fix{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.nav-fix img{
  width: 70%;
}

.nav-fix ul{
  margin:10px 0px 0px;
}

.nav-fix ul li{
  display: inline;
}

.nav-fix ul li a{
  color: #102756;
}

.nav-fix ul li a span{
font-size: 80%;
}

a.fp-btn-wb.fp-btn{
  color: #1274FF;
}

.fp-ham.glyphicon.glyphicon-align-justify{
  color: #1274FF;
  font-size: 120%;
  padding-top: 18px;
}
/* /BARRA FISSATA */

/* HEADER */
header{
  margin-top: 80px;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-position: center;
}

.jumb-dati{
  padding:30px 10px;
}

.jumb-dati li:first-child a{ 
  width: 100%;
  color: #FFFFFF;
}

.jumb-dati li:first-child{
  background-color:#579AFF;
  line-height: 30px;
}

.jumb-dati li:last-child{
  margin-top: 15px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0,0.2);
  line-height: 30px;
  background-image: url(../img/google-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10px;
}

.jumb-dati li:last-child a{
color:#626262 ;
width: 100%;
}

header img{
  width: 4%;
}

.jumb-dati>span{
  font-size: 95%;
}

.jumb-dati>span a{
  text-decoration: underline;
  color:#096FFF ;
}
/* /HEADER */

/* MAIN */
/* SEZIONE LOGHI */
main .log-sec .button-log{
  margin-top: 20px;
}

main .log-sec .button-log a{
  color:#096FFF;
}

main .log-sec .button-log a span{
  font-size: 70%;
}

main .log-sec img{
  width: 100%;
  max-height:90px ;
}
/* /SEZIONE LOGHI */

/* SEZIONE DEPLOY */
.dep-sec ul{
 border-left: 1px solid #77829D;
}

.dep-sec ul li{
  margin-top: 15px;
  padding-left: 10px;
  color:#77829D ;
  font-size: 150%;
}

.dep-sec img{
  width: 10%;
}

.dep-sec h5{
  font-size: 120%;
}
/* /SEZIONE DEPLOY */

/* SEZIONE DESIGNED */
.desig-box p{
  font-size: 160%;
  margin-bottom: 60px;
  margin-top: 30px;
}

.desig-sec .desig-img img{
  width: 53%;
}

.desig-img span{
  font-size: 200%;
}

.desig-img span:first-child{
  margin-right: 20px;
}

.desig-img span:last-child{
  margin-left: 20px;
}

.circle-box p{
  margin-top: 20px;
  font-size: 110%;
}

.circle-box i{
  color:#006AFF ;
  font-size: 90%;
}

/* .circle-box i:hover{
  background-color:#768eaf ;
  border-radius: 50%;
} */

.circle-box i:active{
  background-color:#006AFF ;
  border-radius: 50%;
}
/* /SEZIONE DESIGNED */

/* SEZIONE FEATURES */
.feat-sec h5{
  font-size: 150%; 
 }
 
 .feat-sec p{
  font-size: 115%; 
 }
 .feat-sec span{
  font-size: 65%; 
 }
 
 .feat-sec a{
  font-size: 125%; 
  color:#257EFF ;
 }
/* /SEZIONE FEATURES */

/* SEZIONE SERVICE */
.service-border{
  border-bottom: 1px solid #FFFFFF;
}

.servi-sec h3{
  margin-bottom: 20px;
}

.servi-sec .two{
  padding-left: 20px;
  color: #AABCE5;
}

.servi-sec .three{
  color: #00CDCF;
}

.servi-sec .three>span{
  font-size: 65%;
}

.servi-sec span{
  line-height: 40px;
}

.line-white{
  border-top: 1px solid #FFFFFF;
  width: 94%;
}
/* /SEZIONE SERVICE */

/* SEZIONE DEVELOPMENT */
.devel-sec .box-develop .img-rock{
  width: 50%;
}

.devel-sec .desig-img span{
  padding-top: 57%;
} 

.devel-sec .box-develop p {
  font-size: 150%;
  margin: 15px 0;
}

.box-develop a{ 
  color:#257EFF ;
}

.box-develop a span{ 
  font-size: 65%;
}

/* /SEZIONE DEVELOPMENT */

/* SEZIONE GET */
/* /SEZIONE GET */
/* /MAIN */

/* FOOTER */
footer{
  background-color:#031C4E ;
}
/* /FOOTER */