*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section, header, footer{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.fp-f-weig-700{
  font-weight: 700;
}

.fp-pad-20{
  padding: 20px 0;
}

.fp-pad-60{
  padding: 60px 0;
}

.fp-h-20{
  height: 20px;
}

.fp-h-50{
  height: 50px;
}

.fp-h-300{
  height: 300px;
}

.fp-h-500{
  height: 500px;
}

.fp-h-150{
  height: 150px;
}

.fp-back-whi{
  background-color: #FFFFFF;
}

.fp-back-blue{
  background-color: #0034AE;
}

.fp-back-grey{
  background-color: #F3F5F9;
}

.fp-back-red{
  background-color: #da4214;
}

.fp-back-green{
  background-color: #1dbe25;
}

.fp-back-pink{
  background-color: #d98ae4;
}

.fp-ma-bot{
  margin-bottom: 10px;
}

.fp-wrapper-50{
  width: 50%;
  margin: 0 auto;
}

.back-blue-grad{
  background-image: linear-gradient(#0046C5, #001E99);
}

ul{
  list-style: none;
}

.fp-m-left-15{
  margin-left: 15px;
}

.fp-m-right-15{
  margin-right: 15px;
}

.fp-text-white{
  color: #FFFFFF;
}

.fp-text-blue{
  color: #006AFF;
}

.fp-text-black-blue{
  color: #102756;
}

.fp-font-s-450{
  font-size: 450%;
}

.fp-font-s-160{
  font-size: 160%;
}

.fp-font-s-190{
  font-size: 220%;
}

.fp-b-radio{
  border-radius: 5px;
}
/* BARRA FISSATA */
.nav-fix{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.nav-fix img{
  width: 70%;
}

.nav-fix ul{
  margin:10px 0px 0px;
}

.nav-fix ul li{
  display: inline;
}

.nav-fix ul li a{
  color: #102756;
}

.nav-fix ul li a span{
font-size: 80%;
}

a.fp-btn-wb.fp-btn{
  color: #1274FF;
}

.fp-ham.glyphicon.glyphicon-align-justify{
  color: #1274FF;
  font-size: 120%;
  padding-top: 18px;
}
/* /BARRA FISSATA */

/* BOTTONI */
.fp-btn{
  border: 1px solid;
  padding:5px ;
  border-radius: 5px;
}

.fp-btn-wb{
  border-color:#1274FF ;
}
/* /BOTTONI */

/* HEADER */
header{
  margin-top: 80px;
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  background-position: center;
}

.jumb-dati{
  padding:30px 10px;
}

.jumb-dati li:last-child{
  margin-top: 15px;
}

.jumb-dati li:last-child a{
box-shadow: 1px 1px 2px rgba(0, 0, 0,0.2);
color:#626262 ;
padding: 5px 144px;
}

.jumb-dati li:first-child a{
background-color:#579AFF ;
padding: 5px 154px;
color: #FFFFFF;
}

header img{
  width: 4%;
}

.jumb-dati>span{
  font-size: 95%;
}

.jumb-dati>span a{
  text-decoration: underline;
  color:#096FFF ;
}
/* /HEADER */

/* MAIN */
/* SEZIONE LOGHI */
main .log-sec .button{
  margin-top: 20px;
}
/* /SEZIONE LOGHI */

/* SEZIONE DEPLOY */
/* /SEZIONE DEPLOY */

/* SEZIONE DESIGNED */
/* /SEZIONE DESIGNED */

/* SEZIONE FEATURES */
/* /SEZIONE FEATURES */

/* SEZIONE SERVICE */
/* /SEZIONE SERVICE */

/* SEZIONE DEVELOPMENT */
/* /SEZIONE DEVELOPMENT */

/* SEZIONE GET */
/* /SEZIONE GET */
/* /MAIN */

/* FOOTER */
footer{
  background-color:#031C4E ;
}
/* /FOOTER */